#uyan_frame
javascript:
  var uyan_config = {
    du: "#{Rails.env.production? ? "book-share.cloudfoundry.com" : "test.me"}",
    su: "#{su}"
  };
script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1777087" async=""
