#tag_cloud
  - tag_cloud Book.tag_counts, %w{s m l h} do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class

/*h3 作者*/
/*#tag_cloud*/
  /*- tag_cloud Book.author_counts, %w{s m l h} do |tag, css_class|*/
    /*= link_to tag.name, tag_path(tag.name), class: css_class*/

/*h3 译者*/
/*#tag_cloud*/
  /*- tag_cloud Book.translator_counts, %w{s m l h} do |tag, css_class|*/
    /*= link_to tag.name, tag_path(tag.name), class: css_class*/

