.sign_up, .sign_in{
  margin: 100px auto;
  max-width: 500px;
  min-width: 500px;

  > h2{
      font: 2.5em "OpenSansBold",Helvetica,Arial,sans-serif;
      margin-bottom: 20px;
      color: #3f4944;
    }
}



