.book {
  header {
    border-bottom: 1px solid $grayBackground;
  }
  h1 {
    font-size: $baseFontSize * 2.25;
  }
  h2 {
    font-size: $baseFontSize * 1.25;
    color: $gray;
  }
}

.book-body {
  margin-top: $baseLineHeight;
}

.book-sidebar {
  margin: $baseLineHeight / 2;
  //background-color: $grayLighter;
  //border: 1px solid #ddd;
  padding: $baseLineHeight;
  > ul {
    margin-bottom: $baseLineHeight / 2;
    > li {
      margin-top: $baseLineHeight / 2;
      > span.tag {
        //float: left;
        padding: 1px 8px 1px 0px;
      }
    }
  }
}

.book-cover img {
  border: 1px solid darken($grayLighter, 15%);
}

.tag-list {
  > ul {
    list-style: none;
    > li {
      float: left;
      width: 126px;
      margin-right: 10px;
      margin-bottom: 10px;
      > a {
        padding-left: 5px;
      }
    }
  }
}

.home {
  text-align: center;

  .thumbnail {
    border: none;
    //box-shadow: none;
    //width: 140px;

    img {
      width: 120px;
      height: 150px;
    }

    .desc {
      margin: 10px;
      font-weight: bold;

      .through {
        text-decoration: line-through;
      }
    }

    //.op {
      //opacity: 0;
    //}

    //&:hover .op {
      //opacity: 1;
    //}
  }
}
