a.go_top {
  background: #999999;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  text-align: center;
  border: 1px solid #eee;
  display: block;
  height: 20px; width:24px;
  padding-top: 4px; overflow:hidden;
  border-radius: 6px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
