@include sticky_footer;

#content {
  padding: 1 * $baseLineHeight 0;
}

#footer {
  border-top: 1px solid $borderColor;
  padding: 1 * $baseLineHeight 0;
  background: $grayBackground;
}

#flash .alert {
  margin-top: $baseLineHeight / 2;
}

@media (max-width: 767px) {
  #footer {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .navbar-static-top .container {
    width: auto;
  }
}
